{{> header classes='dark'}}
<main class="page">
  <section class="bacteriaList">
    <div class="container">
      {{> breadcrumbs}}
      <section class="catalogList__area">
        {{> catalogSearch}}
        <ul class="catalogList__area__bacteriaListList">
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
          <li>
            <a href="bacteria.html">
              <h3 class="title">Acetobacter aceti <span>B-10228</span></h3>
              <div class="bottom">
                <p>Применение</p>
                <p>Типовой штамм</p>
              </div>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </section>
</main>
{{> footer}}