{{> header classes='dark'}}
<main class="page">
  <div class="container">
  {{> breadcrumbs}}
  <section class="catalog">
        {{>catalogSearch}}
        <ul class="catalog__list">
          <li class="catalog__list__item">
            <a href="bacteriaList.html">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
        </ul>
    </section>
  </div>
</main>
{{> footer}}