{{> header classes='dark'}}
<main class="page">
  <div class="container">
  {{> breadcrumbs}}
  <section class="catalog">
        <div class="catalog__sidebar">
          <h2>Поиск по каталогу</h2>
          <form action="javascript:void(0)" class="catalog__form">
            <label>Род <input class="inp" type="text"></label>
            <label>Вид <input class="inp" type="text"></label>
            <label>Номер ВКПМ <input class="inp" type="text"></label>
            <label>Поиск по производимому продукту <input class="inp" type="text"></label>
            <input type="submit" class="btn btn-submit" value="Поиск">
          </form>
        </div>
        <ul class="catalog__list">
          <li class="catalog__list__item">
            <a href="catalogList.html">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
          <li class="catalog__list__item">
            <a href="#">
              <p>Acetobacter</p>
              <span>29</span>
            </a>
          </li>
        </ul>
    </section>
  </div>
</main>
{{> footer}}