{{>header classes='dark'}}
<div class="page">
  <div class="container">
    {{> breadcrumbs}}
    <section class="documents">
      <h2 class="documents__title">Приказы министерств</h2>
      <div class="documents__list">
        <a href="#" class="documents__list__item"><h3>Приказ минобрнауки РФ о создании ресурсного центра</h3></a>
        <a href="#" class="documents__list__item"><h3>Приказ минобрнауки РФ о создании ресурсного центра</h3></a>
        <a href="#" class="documents__list__item"><h3>Приказ минобрнауки РФ о создании ресурсного центра</h3></a>
        <a href="#" class="documents__list__item"><h3>Приказ минобрнауки РФ о создании ресурсного центра</h3></a>
      </div>
      <h2 class="documents__title">Приказы министерств</h2>
      <div class="documents__list">
        <a href="#" class="documents__list__item"><h3>Приказ минобрнауки РФ о создании ресурсного центра</h3></a>
        <a href="#" class="documents__list__item"><h3>Приказ минобрнауки РФ о создании ресурсного центра</h3></a>
        <a href="#" class="documents__list__item"><h3>Приказ минобрнауки РФ о создании ресурсного центра</h3></a>
        <a href="#" class="documents__list__item"><h3>Приказ минобрнауки РФ о создании ресурсного центра</h3></a>
      </div>
      <h2 class="documents__title">Приказы министерств</h2>
      <div class="documents__list">
        <a href="#" class="documents__list__item"><h3>Приказ минобрнауки РФ о создании ресурсного центра</h3></a>
        <a href="#" class="documents__list__item"><h3>Приказ минобрнауки РФ о создании ресурсного центра</h3></a>
        <a href="#" class="documents__list__item"><h3>Приказ минобрнауки РФ о создании ресурсного центра</h3></a>
        <a href="#" class="documents__list__item"><h3>Приказ минобрнауки РФ о создании ресурсного центра</h3></a>
      </div>
    </section>
  </div>
</section>
{{> footer}}