{{> ../partials/header}}

<section class="select" id="select">
<h2 class="select__title">Пожалуйста, выберите каталог <br><span>чтобы продолжить</span></h2>
<div class="select__list">
  <div class="select__list__block">
    <a href="#">
      <h3>Бактерии</h3>
      <p>1946 элементов</p>
    </a>
  </div>
  <div class="select__list__block">
    <a href="#">
      <h3>Грибы</h3>
      <p>541 элемент</p>
    </a>
  </div>
</div>
</section>
{{> ../partials/footer}}