{{> header menu=menu }}
<header id="scene" data-depth="0.2" class="header">
  <div class="header__info">
      <h1 class="header__title">Каталог микроорганизмов</h1>
      <p class="header__desc">Программа приоритета 2030, совместно с КубГАУ</p>
      <a href="" class="btn arrow">Смотреть каталог</a>
    </div>
</header>
<section class="select" id="select">
<div class="container">
  <h2 class="select__title">Пожалуйста, выберите каталог <span>чтобы продолжить</span></h2>
  <div class="select__list">
    <div class="select__list__block">
      <a href="catalog.html">
        <h3>Бактерии</h3>
        <p>1946 элементов</p>
      </a>
    </div>
    <div class="select__list__block">
      <a href="#">
        <h3>Грибы</h3>
        <p>541 элемент</p>
      </a>
    </div>
  </div>
</div>
</section>
{{> footer menu=menu}}