{{>header classes='dark'}}
<div class="page">
  <div class="container">
    {{> breadcrumbs}}
    <section class="publications">
      <div class="publications__list">
        <a href="article.html" class="publications__list__item">
          <img src="assets/img/news-preview.jpg" class="publications__list__item__image" alt="">
          <div class="publications__list__item__info">
            <h3 class="title">Спектрофотометрическое определение молочной кислоты</h3>
            <p class="date">дек, 2016</p>
            <p class="desc">Разработан эффективный и экономичный спектрофотометрический метод определения молочной кислоты в индивидуальном состоянии и в продуктах питания, биологических и культуральных жидкостях. Метод заключается в спектрофотометрическом определении окрашенного продукта реакции лактат-ионов с хлоридом железа(III) при 390 нм. Определены оптимальные условия реакции, построен градуировочный график в диапазоне от 0.3 до 10 г/л молочной кислоты с коэффициентом корреляции 0.9999. Метод не требует сложной пробоподготовки.</p>
          </div>
        </a>
        <a href="article.html" class="publications__list__item">
          <img src="assets/img/news-preview.jpg" class="publications__list__item__image" alt="">
          <div class="publications__list__item__info">
            <h3 class="title">Спектрофотометрическое определение молочной кислоты</h3>
            <p class="date">дек, 2016</p>
            <p class="desc">Разработан эффективный и экономичный спектрофотометрический метод определения молочной кислоты в индивидуальном состоянии и в продуктах питания, биологических и культуральных жидкостях. Метод заключается в спектрофотометрическом определении окрашенного продукта реакции лактат-ионов с хлоридом железа(III) при 390 нм. Определены оптимальные условия реакции, построен градуировочный график в диапазоне от 0.3 до 10 г/л молочной кислоты с коэффициентом корреляции 0.9999. Метод не требует сложной пробоподготовки.</p>
          </div>
        </a>
        <a href="article.html" class="publications__list__item">
          <img src="assets/img/news-preview.jpg" class="publications__list__item__image" alt="">
          <div class="publications__list__item__info">
            <h3 class="title">Спектрофотометрическое определение молочной кислоты</h3>
            <p class="date">дек, 2016</p>
            <p class="desc">Разработан эффективный и экономичный спектрофотометрический метод определения молочной кислоты в индивидуальном состоянии и в продуктах питания, биологических и культуральных жидкостях. Метод заключается в спектрофотометрическом определении окрашенного продукта реакции лактат-ионов с хлоридом железа(III) при 390 нм. Определены оптимальные условия реакции, построен градуировочный график в диапазоне от 0.3 до 10 г/л молочной кислоты с коэффициентом корреляции 0.9999. Метод не требует сложной пробоподготовки.</p>
          </div>
        </a>
        <a href="article.html" class="publications__list__item">
          <img src="assets/img/news-preview.jpg" class="publications__list__item__image" alt="">
          <div class="publications__list__item__info">
            <h3 class="title">Спектрофотометрическое определение молочной кислоты</h3>
            <p class="date">дек, 2016</p>
            <p class="desc">Разработан эффективный и экономичный спектрофотометрический метод определения молочной кислоты в индивидуальном состоянии и в продуктах питания, биологических и культуральных жидкостях. Метод заключается в спектрофотометрическом определении окрашенного продукта реакции лактат-ионов с хлоридом железа(III) при 390 нм. Определены оптимальные условия реакции, построен градуировочный график в диапазоне от 0.3 до 10 г/л молочной кислоты с коэффициентом корреляции 0.9999. Метод не требует сложной пробоподготовки.</p>
          </div>
        </a>
        <a href="article.html" class="publications__list__item">
          <img src="assets/img/news-preview.jpg" class="publications__list__item__image" alt="">
          <div class="publications__list__item__info">
            <h3 class="title">Спектрофотометрическое определение молочной кислоты</h3>
            <p class="date">дек, 2016</p>
            <p class="desc">Разработан эффективный и экономичный спектрофотометрический метод определения молочной кислоты в индивидуальном состоянии и в продуктах питания, биологических и культуральных жидкостях. Метод заключается в спектрофотометрическом определении окрашенного продукта реакции лактат-ионов с хлоридом железа(III) при 390 нм. Определены оптимальные условия реакции, построен градуировочный график в диапазоне от 0.3 до 10 г/л молочной кислоты с коэффициентом корреляции 0.9999. Метод не требует сложной пробоподготовки.</p>
          </div>
        </a>
        <a href="article.html" class="publications__list__item">
          <img src="assets/img/news-preview.jpg" class="publications__list__item__image" alt="">
          <div class="publications__list__item__info">
            <h3 class="title">Спектрофотометрическое определение молочной кислоты</h3>
            <p class="date">дек, 2016</p>
            <p class="desc">Разработан эффективный и экономичный спектрофотометрический метод определения молочной кислоты в индивидуальном состоянии и в продуктах питания, биологических и культуральных жидкостях. Метод заключается в спектрофотометрическом определении окрашенного продукта реакции лактат-ионов с хлоридом железа(III) при 390 нм. Определены оптимальные условия реакции, построен градуировочный график в диапазоне от 0.3 до 10 г/л молочной кислоты с коэффициентом корреляции 0.9999. Метод не требует сложной пробоподготовки.</p>
          </div>
        </a>

        <a href="article.html" class="publications__list__item">
          <img src="assets/img/news-preview.jpg" class="publications__list__item__image" alt="">
          <div class="publications__list__item__info">
            <h3 class="title">Спектрофотометрическое определение молочной кислоты</h3>
            <p class="date">дек, 2016</p>
            <p class="desc">Разработан эффективный и экономичный спектрофотометрический метод определения молочной кислоты в индивидуальном состоянии и в продуктах питания, биологических и культуральных жидкостях. Метод заключается в спектрофотометрическом определении окрашенного продукта реакции лактат-ионов с хлоридом железа(III) при 390 нм. Определены оптимальные условия реакции, построен градуировочный график в диапазоне от 0.3 до 10 г/л молочной кислоты с коэффициентом корреляции 0.9999. Метод не требует сложной пробоподготовки.</p>
          </div>
        </a>
        <a href="article.html" class="publications__list__item">
          <img src="assets/img/news-preview.jpg" class="publications__list__item__image" alt="">
          <div class="publications__list__item__info">
            <h3 class="title">Спектрофотометрическое определение молочной кислоты</h3>
            <p class="date">дек, 2016</p>
            <p class="desc">Разработан эффективный и экономичный спектрофотометрический метод определения молочной кислоты в индивидуальном состоянии и в продуктах питания, биологических и культуральных жидкостях. Метод заключается в спектрофотометрическом определении окрашенного продукта реакции лактат-ионов с хлоридом железа(III) при 390 нм. Определены оптимальные условия реакции, построен градуировочный график в диапазоне от 0.3 до 10 г/л молочной кислоты с коэффициентом корреляции 0.9999. Метод не требует сложной пробоподготовки.</p>
          </div>
        </a>
        <a href="article.html" class="publications__list__item">
          <img src="assets/img/news-preview.jpg" class="publications__list__item__image" alt="">
          <div class="publications__list__item__info">
            <h3 class="title">Спектрофотометрическое определение молочной кислоты</h3>
            <p class="date">дек, 2016</p>
            <p class="desc">Разработан эффективный и экономичный спектрофотометрический метод определения молочной кислоты в индивидуальном состоянии и в продуктах питания, биологических и культуральных жидкостях. Метод заключается в спектрофотометрическом определении окрашенного продукта реакции лактат-ионов с хлоридом железа(III) при 390 нм. Определены оптимальные условия реакции, построен градуировочный график в диапазоне от 0.3 до 10 г/л молочной кислоты с коэффициентом корреляции 0.9999. Метод не требует сложной пробоподготовки.</p>
          </div>
        </a>

        <a href="article.html" class="publications__list__item">
          <img src="assets/img/news-preview.jpg" class="publications__list__item__image" alt="">
          <div class="publications__list__item__info">
            <h3 class="title">Спектрофотометрическое определение молочной кислоты</h3>
            <p class="date">дек, 2016</p>
            <p class="desc">Разработан эффективный и экономичный спектрофотометрический метод определения молочной кислоты в индивидуальном состоянии и в продуктах питания, биологических и культуральных жидкостях. Метод заключается в спектрофотометрическом определении окрашенного продукта реакции лактат-ионов с хлоридом железа(III) при 390 нм. Определены оптимальные условия реакции, построен градуировочный график в диапазоне от 0.3 до 10 г/л молочной кислоты с коэффициентом корреляции 0.9999. Метод не требует сложной пробоподготовки.</p>
          </div>
        </a>
      </div>
    </section>
  </div>
</section>
{{> footer}}