{{>header classes='dark'}}
<div class="page">
  <div class="container">
    {{> breadcrumbs}}
    <section class="services">
      <h2 class="page__title">Пожалуйста, выберите необходимую услугу <span>и заполните форму</span></h2>
    </section>
  </div>
</section>
{{> footer}}