{{>header classes='dark'}}
<div class="page">
  <div class="container">
    {{> breadcrumbs}}
    <section class="services">
      <h2 class="page__title">Пожалуйста, выберите необходимую услугу <span>и заполните форму</span></h2>
      <div class="services__blocks">
        <a href="#" class="services__block">
          <h3 class="services__block__title">Депонирование микроорганизмов</h3>
          <p class="services__block__desc">включает в себя передачу штамма в коллекцию с целью регистрации, хранения и выдачи образцов микроорганизмов заинтересованным лицам в соответствии с установленными правилами.</p>
        </a>
        <a href="#" class="services__block">
          <h3 class="services__block__title">Депонирование микроорганизмов</h3>
          <p class="services__block__desc">включает в себя передачу штамма в коллекцию с целью регистрации, хранения и выдачи образцов микроорганизмов заинтересованным лицам в соответствии с установленными правилами.</p>
        </a>
        <a href="#" class="services__block">
          <h3 class="services__block__title">Депонирование микроорганизмов</h3>
          <p class="services__block__desc">включает в себя передачу штамма в коллекцию с целью регистрации, хранения и выдачи образцов микроорганизмов заинтересованным лицам в соответствии с установленными правилами.</p>
        </a>
        <a href="#" class="services__block">
          <h3 class="services__block__title">Депонирование микроорганизмов</h3>
          <p class="services__block__desc">включает в себя передачу штамма в коллекцию с целью регистрации, хранения и выдачи образцов микроорганизмов заинтересованным лицам в соответствии с установленными правилами.</p>
        </a>
        <a href="#" class="services__block">
          <h3 class="services__block__title">Депонирование микроорганизмов</h3>
          <p class="services__block__desc">включает в себя передачу штамма в коллекцию с целью регистрации, хранения и выдачи образцов микроорганизмов заинтересованным лицам в соответствии с установленными правилами.</p>
        </a>
        <a href="#" class="services__block">
          <h3 class="services__block__title">Депонирование микроорганизмов</h3>
          <p class="services__block__desc">включает в себя передачу штамма в коллекцию с целью регистрации, хранения и выдачи образцов микроорганизмов заинтересованным лицам в соответствии с установленными правилами.</p>
        </a>
        <a href="#" class="services__block">
          <h3 class="services__block__title">Депонирование микроорганизмов</h3>
          <p class="services__block__desc">включает в себя передачу штамма в коллекцию с целью регистрации, хранения и выдачи образцов микроорганизмов заинтересованным лицам в соответствии с установленными правилами.</p>
        </a>
      </div>
    </section>
  </div>
</section>
{{> footer}}