@import 'core/base';

.errorpage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  flex-direction: column;
  gap: 50px;
  &__title {
    font-size: clamp(14px, 6vw, 60px);
    text-align: center;
  }  
  &__btn {
    background: #B0FFAE!important;
    border-radius: 7px!important;
  }
}