@import 'core/base';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $color-dark;
  display: inline-block;
}

section {
  padding: 120px 0;
}

footer {
  padding: 40px 0 30px;
}

.container {
  width: 100%;
  padding: 0 40px;
}
img {
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6, p {
  margin-bottom: 0;
}
.inp {
  outline: none;
  box-shadow: none;
  border: 1px solid #F0F0F0;
  border-radius: 6px;
  background: #FCFCFC;
  width: 100%;
  font-size: 17px;
  padding: 15px 10px;
  transition: .3s ease all;
  &:active, &:focus {
    background: darken(#FCFCFC, 5%);
  }
}
.btn {
  font-size: clamp(14px, 3vw, 22px);
  color: $color-dark;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 45px;
  font-weight: 500;
  position: relative;
  transition: ease all .2s;
  top: 0;
  &.arrow {
    padding: 20px calc(40px + 40px) 20px 40px;
    &::after {
      transition: ease all .3s;
      content: '';
      background: url('assets/img/green-arrow.svg') no-repeat center / cover;
      position: absolute;
      top: 50%;
      right: 20px;
      width: 40px;
      height: 40px;
      transform: translateY(-50%);
    }
  }
  &[type=submit] {
    font-size: 17px;
    padding: 15px 10px;
    border-radius: 6px;
  }
}


body {
  font-family: $font-main;
}

.logo {
  width: 232px;
  transition: inherit;
}

.cap {
  position: fixed;
  width: calc(100% - 40px);
  top: 0;
  padding: 0;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  transition: ease all .6s;
  &__nav {
    transition: inherit;
    border-radius: 10px;
    background-color: rgba(#fff, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(#fff, .6);
    backdrop-filter: blur(34px);
    &__trigger {
      display: none;
      width: 35px;
      height: 30px;
      position: relative;
      cursor: pointer;
      transition: .3s ease-out all;
      span {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transform: translateY(-50%);
      }
      &:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        width: 80%;
        height: 2px;
        background-color: #fff;
        transition: inherit;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: inherit;
      }
    }
    &__menu {
      display: flex;
      justify-content: space-around;
      gap: 10px;
      li {
        a {
          border-radius: 7px;
          font-size: 15px;
          padding: 10px 15px;
          color: #fff;
          transition: all ease .2s;
          &.active {
            background-color: $color-active-menu;
            color: $color-dark;
          }
        }
      }
      &_mobile {
        opacity: 0;
        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(#000, .9);
        backdrop-filter: blur(10px);
        color: #fff;
        z-index: 200;
        transition: .3s ease all;
        &.active {
          opacity: 1;
          pointer-events: all;
        }
        .close_btn {
          width: 50px;
          height: 50px;
          right: 20px;
          top: 20px;
          position: absolute;
          transition: .3s ease all;
          z-index: 2;
          cursor: pointer;
          &:before {
            content: '';
            position: absolute;
            top: 22px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
            transform: rotate(45deg);
          }
          &:after {
            content: '';
            position: absolute;
            top: 22px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
            transform: rotate(-45deg);
          }
        }
        ul {
          list-style: none;
          font-size: clamp(30px, 7vw, 90px);
          font-weight: bold;
          padding: 60px;
          height: 100%;
          width: 100%;
          overflow: auto;
          display: flex;
          flex-direction: column;
          // justify-content: center;
          position: relative;
          top: 0;
          padding-top: 100px;
          li {
            a {
              width: 100%;
              transition: .3s ease all;
              position: relative;
              left: 0;
            }
          }
        }
      }
    }
    &__search {
      display: flex;
      background: #fff;
      filter: blur(1px);
      border-radius: 7px;
      position: relative;
      .search-icon {
        width: 17px;
        height: 17px;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        touch-action: none;
        // display: none;
      }
      input[type=search] {
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100%;
        font-size: 19px;
        padding: 15px 30px 15px calc(30px + 15px);
        transition: ease all .3s;
        width: 280px;
        // &:focus {
        //   width: 350px;
        // }
      }
    }
  }
  &.scrolled {
    top: 10px;
    .logo {
      width: 200px;
    }
    .cap__nav {
      padding: 10px;
      background-color: rgba(#222,.6);
      ul li a {
        // font-size: 18px;
      }
    }
  }
  &.dark {
    .cap__nav {
      background: rgba(0, 0, 0, 0.70);
      box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(17px);
      border: 1px solid rgba(255, 255, 255, 0.38);
    }
  }
}

.loader {
  background-color: $color-dark;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity ease .8s;
  .loader__logo {
    img {
      width: clamp(170px, 70vw, 400px);
    }
  }
  &.loaded {
    background-color: white;
    transition: ease .8s;
    transition-property: background,opacity;
  }
  &.closed {
    opacity: 0;
  }
}

#cursor {
  position: fixed;
  z-index: 1600;
  width: 60px;
  height: 60px;
  pointer-events: none;;
  border-radius: 50%;
  opacity: 0;
  border: 1px solid rgba(#000, .3);
  // background-color: rgba($color-main, .2);
  transform: scale(0) translate(-50%, -50%);
  transition: ease-out all .5s;
  &.active {
    transform: scale(1) translate(-50%, -50%);
  }
}

.page {
  padding-top: 150px;
  section {
    padding: 0;
  }
  &__title {
    padding: 0 0 70px;
    font-size: clamp(20px, 7vw, 50px);
    font-weight: 400;
    text-align: center;
    font-weight: bold;
    max-width: 1000px;
    margin: 0 auto;
    span {
      color: #B8B8B8;
    }
  }
}

// Component breadcrumbs
.breadcrumbs {
  padding-bottom: 40px!important;
  border-bottom: 1px solid rgba(#000, .1);
  margin-bottom: 20px;
  ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    li {
      position: relative;
      display: flex;
      a, span {
        display: block;
        margin: auto;
        // background: $color-main;
        border: 1px solid rgba(#222, .3);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        border-radius: 8px;
        font-size: clamp(4px, 3vw, 18px);
        transition: .3s ease all;
      }
      &:last-child {
        &::after {
          display: none;
        }
        span {
          background: rgba(#222, .05);
          border: none;
          // font-size: 48px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
}
.footer {
  &_wrapper {
    background: $color-dark;
    border-radius: 15px;
    padding: 40px;
  }
  &__info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    &__nav {
      font-size: 19px;
      ul {
        display: flex;
        gap: 25px;
        justify-content: space-between;
      }
      li {
        a {
          border-radius: 7px;
          font-size: 15px;
          padding: 10px 20px;
          color: #fff;
          transition: all ease .2s;
        }
      }
    }
  }
  &__copyright {
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    .sign {
      color: $color-main;
      opacity: .05;
    }
  }
}

.catalog {
  &__search {
    max-width: 400px;
    position: sticky;
    top: 100px;
    height: auto;
    padding: 30px 20px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    &__header {
      font-size: 26px;
      padding-bottom: 30px;
    }
    &__area {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
    label {
      font-size: 21px;
    }
    input {
      margin-top: 5px;
      border-radius: 6px;
    }
  }
  &__sidebar {
    // padding: 30px 20px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    &__title {
      padding: 30px 20px;
      display: flex;
      border-radius: inherit;
      gap: 15px;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-size: 23px;
        // margin-bottom: 30px;
      }
      span {
        display: none;
        padding: 10px;
        background: #000;
        color: #fff;
        font-size: 13px;
        border-radius: 5px;
      }
    }
  }
  &__form {
    transition: .7s ease all;
    overflow: hidden;
    &__overlay {
      gap: 20px;
      display: flex;
      padding: 20px 15px 30px;
      flex-direction: column;
      justify-content: space-between;
    }
    &:first-child {
      padding-top: 30px;
    }
    label {
      .inp {
        margin-top: 7px;
      }
    }
    .btn {
      width: 100%;
      cursor: pointer;
    }

  }
}

.catalogList {
  padding-top: 20px;
  &__area {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    &__list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 60px;
      row-gap: 30px;
      align-content: flex-start;
      li {
        a {
          border: 1px solid #E6E6E6;
          border-radius: 10px;
          padding: 15px;
          display: flex;
          gap: 25px;
          align-items: center;
          justify-content: center;
          transition: .3s ease all;
          .title {
            font-weight: normal;
          }
          .number {
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .btn {
    &:hover {
      background-color: lighten($color-main, 5%);
      top: 6px;
    }
    &.arrow {
      &:hover::after {
        transform: translateY(-50%) scale(1.2);
      }
    }
  }
  .cap {
    &__nav {
      &__trigger {
        &:hover {
          &:before {top: 0; width: 100%;}
          &:after {bottom: 0;}
        }
      }
      &__menu {
        li a {
          &:hover {
            background-color: #fff;
            color: $color-dark;
          }
        }
        &_mobile {
          ul li a {
            &:hover {
              color: #fff;
              left: 10px;
            }
          }
          .close_btn {
            &:hover {
              transform: rotate(-20deg);
            }
          }
        }
      }
    }
  }
  .footer {
    &__info {
      &__nav {
        li a {
          &:hover {
            background-color: #fff;
            color: $color-dark;
          }
        }
      }
    }
  }
  .catalogList {
    &__area {
      &__list {
        li {
          a {
            .number {
              &:hover {
                background: #DAFFCD;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .cap {
    &__nav {
      &__menu {
        display: none;
      }
      &__trigger {
        display: block;
      }
      &__search {
        display: none;
      }
    }
  }
  .footer {
    &__info {
      &__nav {
        display: none;
      }
    }
  }
}

@media(max-width: 1150px) {
  .page {
    padding-top: 100px;
  }
  .breadcrumbs {
    padding-bottom: 20px!important;
    ul {
      gap: 10px;
    }
  }
}

@media (max-width: 1000px) {
  .breadcrumbs {
    ul {
      li {
        a {
          small {
            display: none;
          }
        }
      }
    }
  }
  section {
    padding: 60px 0;
  }
  .container {
    padding: 0 15px;
  }
  .cap {
    &__nav {
      &__menu {
        &_mobile {
          ul {
            gap: 20px;
            align-items: center;
          }
        }
      }
    }
  }
  .catalog {
    &__sidebar {
      width: 100%;
      // background: lighten($color-main, 2%);
      // padding: 15px;
      &__title {
        background: $color-main;
        h2 {
          font-size: 18px;
        }
        span {
          display: block;
        }
      }
    }
    &__form {
      height: 0;
      &.opened {
        height: auto;
        background: transparent;
      }
    }
  }
}

@media(max-width: 700px) {
  .footer {
    &_wrapper {
      padding: 20px;
    }
    hr {
      margin: 20px 0!important;
    }
    &__info {
      justify-content: center;
    }
    &__copyright {
      flex-direction: column;
      gap: 30px;
    }
  }
}

@media (max-width: 600px) {
  .cap {
    width: calc(100% - 30px);
    &__nav {
      &__menu {
        &_mobile {
          ul {
            padding: 100px 15px 0 15px;
          }
        }
      }
    }
  }
  .container {
    padding: 0 15px;
  }
  .page {
    &__title {
      padding-bottom: 30px;
    }
  }
}

@media(hover: hover) and (pointer: fine) {
  .breadcrumbs {
    ul {
      li {
        a {
          &:hover {
            background: lighten($color-active-menu, 8%);
          }
        }
      }
    }
  }
}