@import 'core/base';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $color-dark;
  display: inline-block;
}

section {
  padding: 120px 0;
}

footer {
  padding: 60px 0;
}

.container {
  width: 100%;
  padding: 0 40px;
}
img {
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6, p {
  margin-bottom: 0;
}
.inp {
  outline: none;
  box-shadow: none;
  border: 1px solid #F0F0F0;
  border-radius: 6px;
  background: #FCFCFC;
  width: 100%;
  font-size: 17px;
  padding: 15px 10px;
  transition: .3s ease all;
  &:active, &:focus {
    background: darken(#FCFCFC, 5%);
  }
}
.btn {
  font-size: 22px;
  color: $color-dark;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 45px;
  font-weight: 500;
  position: relative;
  transition: ease all .2s;
  top: 0;
  &:hover {
    background-color: lighten($color-main, 5%);
    top: 6px;
  }
  &.arrow {
    padding: 20px calc(40px + 40px) 20px 40px;
    &::after {
      transition: ease all .3s;
      content: '';
      background: url('assets/img/green-arrow.svg') no-repeat center / cover;
      position: absolute;
      top: 50%;
      right: 20px;
      width: 40px;
      height: 40px;
      transform: translateY(-50%);
    }
    &:hover::after {
      transform: translateY(-50%) scale(1.2);
    }
  }
  &[type=submit] {
    font-size: 17px;
    padding: 15px 10px;
    border-radius: 6px;
  }
}


body {
  font-family: $font-main;
}

.logo {
  width: 232px;
  transition: inherit;
}

.cap {
  position: fixed;
  width: calc(100% - 40px);
  top: 25px;
  overflow: hidden;
  padding: 0;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  transition: ease all .6s;
  &__nav {
    transition: inherit;
    border-radius: 10px;
    background-color: rgba(#fff, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(#fff, .6);
    backdrop-filter: blur(34px);
    ul {
      display: flex;
      justify-content: space-around;
      gap: 10px;
      li {
        a {
          border-radius: 7px;
          font-size: 15px;
          padding: 10px 15px;
          color: #fff;
          transition: all ease .2s;
          &:hover {
            background-color: #fff;
            color: $color-dark;
          }
          &.active {
            background-color: $color-active-menu;
            color: $color-dark;
          }
        }
      }
    }
    &__search {
      display: flex;
      background: #fff;
      border-radius: 7px;
      position: relative;
      .search-icon {
        width: 17px;
        height: 17px;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        touch-action: none;
        // display: none;
      }
      input[type=search] {
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100%;
        font-size: 19px;
        padding: 15px 30px 15px calc(30px + 15px);
        transition: ease all .3s;
        width: 280px;
        &:focus {
          width: 350px;
        }
      }
    }
  }
  &.scrolled {
    top: 10px;
    .logo {
      width: 200px;
    }
    .cap__nav {
      padding: 10px;
      background-color: rgba(#222,.6);
      ul li a {
        // font-size: 18px;
      }
    }
  }
  &.dark {
    .cap__nav {
      background: rgba(0, 0, 0, 0.70);
      box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(17px);
      border: 1px solid rgba(255, 255, 255, 0.38);
    }
  }
}

.loader {
  background-color: $color-dark;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity ease .8s;
  .loader__logo {
    img {
      width: 400px;
    }
  }
  &.loaded {
    background-color: white;
    transition: ease .8s;
    transition-property: background,opacity;
  }
  &.closed {
    opacity: 0;
  }
}

#cursor {
  position: fixed;
  z-index: 1600;
  width: 60px;
  height: 60px;
  pointer-events: none;;
  border-radius: 50%;
  opacity: 0;
  border: 1px solid rgba(#000, .3);
  // background-color: rgba($color-main, .2);
  transform: scale(0) translate(-50%, -50%);
  transition: ease-out all .5s;
  &.active {
    transform: scale(1) translate(-50%, -50%);
  }
}

.page {
  padding-top: 150px;
  section {
    padding: 0;
  }
  &__title {
    padding: 0 0 70px;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    span {
      color: #B8B8B8;
    }
  }
}

// Component breadcrumbs
.breadcrumbs {
  padding-bottom: 40px!important;
  ul {
    display: flex;
    gap: 100px;
    justify-content: flex-start;
    li {
      position: relative;
      display: flex;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -40px;
        transform: translate(100%, -50%);
        width: 20px;
        height: 33px;
        background: url('assets/img/arrow-right.svg') no-repeat center / contain;
      }
      a {
        display: block;
        margin: auto;
        background: $color-main;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px 30px;
        border-radius: 10px;
        font-size: 18px;
      }
      &.root a {
        background-color: $color-main-root;
      }
      &:last-child {
        &::after {
          display: none;
        }
        a {
          background: none;
          font-size: 48px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
}
.footer {
  &_wrapper {
    background: $color-dark;
    border-radius: 10px;
    padding: 40px;
  }
  &__info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    &__nav {
      font-size: 19px;
      ul {
        display: flex;
        gap: 25px;
        justify-content: space-between;
      }
      li {
        a {
          border-radius: 7px;
          font-size: 15px;
          padding: 10px 20px;
          color: #fff;
          transition: all ease .2s;
          &:hover {
            background-color: #fff;
            color: $color-dark;
          }
        }
      }
    }
  }
  &__copyright {
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    .sign {
      color: $color-main;
      opacity: .05;
    }
  }
}

.catalog {
  &__search {
    max-width: 400px;
    position: sticky;
    top: 100px;
    height: auto;
    padding: 30px 20px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    &__header {
      font-size: 26px;
      padding-bottom: 30px;
    }
    &__area {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
    label {
      font-size: 21px;
    }
    input {
      margin-top: 5px;
      border-radius: 6px;
    }
  }
}

.catalogList {
  padding-top: 20px;
  &__area {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    &__list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 60px;
      row-gap: 30px;
      align-content: flex-start;
      li {
        a {
          border: 1px solid #E6E6E6;
          border-radius: 10px;
          padding: 15px;
          display: flex;
          gap: 25px;
          align-items: center;
          justify-content: center;
          transition: .3s ease all;
          .title {
            font-weight: normal;
          }
          .number {
            font-weight: bold;
          }
          &:hover {
            background: #DAFFCD;
          }
        }
      }
    }
  }
}