@import 'core/base';

.bacteriaList {
  .bacteriaArea {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-size: clamp(12px, 2.3vw, 20px);
    padding: 20px;
    border-radius: 10px;
    background: #F6F6F6;
    table {
      width: 100%;
      border-collapse: collapse;
      tr {
        padding-bottom: 30px;
        border-bottom: 1px solid #e3eae3;
        &:last-child {
          border: none;
        }
      }
      td {
        padding: 20px;
      }
    }
  }
}

@media(max-width: 800px) {
  .bacteriaList {
    .bacteriaArea {
      padding: 5px;
      table td {
        padding: 10px;
      }
    }
  }
}