@import 'core/base';

.documents {
  &__title {
    font-size: #222;
    font-size: clamp(25px, 4vw, 50px);
    font-weight: 400;
    margin: 40px 0;
    &:first-child {
      margin-top: 0;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    &__item {
      background: #EAFFFF;
      padding: 30px;
      border: 1px solid #D2D2D2;
      border-radius: 15px;
      color: #000;
      transition: ease all .3s;
      h3 {
        font-size: clamp(15px, 3vw, 22px);
        position: relative;
        padding-right: 55px;
        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          background: url(assets/img/document.svg) no-repeat center / contain;
          width: 40px;
          height: 40px;
          transform: translate(0, -50%);
        }
      }
    }
  }
}

@media(max-width: 1000px) {
  .documents {
    &__list {
      grid-template-columns: auto;
    }
  }
}

@media(max-width: 600px) {
  .documents {
    &__list {
      &__item {
        h3 {
          padding-right: 35px;
          &::after {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
    &__title {
      text-align: center;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .documents {
    &__list {
      &__item {
        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }
}