@import 'core/base';

.header {
  height: 100vh;
  min-height: 700px;
  background: url('assets/img/first-screen.jpg') no-repeat center / cover;
  height: 100vh;
  display: flex;
  align-items: center;
  &__info {
    max-width: 1000px;
    padding-left: 70px;
  }
  &__title {
    color: #fff;
    font-size: clamp(20px, 7vw, 82px);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 35px;
  }
  &__desc {
    color: #E2E2E2;
    font-size: clamp(14px, 3vw, 27px);
    margin-bottom: 50px;
  }
}

.select {
  padding: 120px 0 100px;
  &__title {
    color: $color-dark;
    font-size: clamp(20px, 7vw, 50px);
    text-align: center;
    font-weight: 400;
    margin-bottom: 90px;
    max-width: 800px;
    margin: 0 auto 60px;
    span {
      color: #D6D6D6;
    }
  }
  &__list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    &__block {
      padding: 40px;
      text-align: center;
      background-color: $color-main;
      width: 600px;
      height: 300px;
      border-radius: 15px;
      perspective: 600px;
      transition: .6s ease all;
      &:last-child {
        background-color: $color-sec;
      }
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
      h3 {
        font-size: clamp(25px, 5vw, 50px);
        font-weight: 500;
        margin-bottom: 20px;
      }
      p {
        font-size: clamp(16px, 3vw, 31px);
        font-weight: 300;
      }
    }
  }
}

.about {
  padding-top: 150px;
}

@media (hover: hover) and (pointer: fine) {
  .select {
    &__list {
      &__block {
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .header {
    text-align: center;
    &__info {
      padding: 0 40px;
    }
    &__title {
      text-align: center;
    }
    &__desc {
      text-align: center;
    }
  }
  .select {
    padding: 80px 0 40px;
    &__list {
      &__block {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (max-width: 600px) {
  .header {
    height: auto;
    min-height: 500px;
    &__info {
      padding: 0 15px;
    }
  }
}