@import 'core/base';
.header {
  height: 100vh;
  min-height: 700px;
  background: url('assets/img/first-screen.jpg') no-repeat center / cover;
  height: 100vh;
  display: flex;
  align-items: center;
  &__info {
    max-width: 1000px;
    padding-left: 70px;
  }
  &__title {
    color: #fff;
    font-size: 82px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 35px;
  }
  &__desc {
    color: #E2E2E2;
    font-size: 27px;
    margin-bottom: 50px;
  }
}

.select {
  padding: 120px 300px;
  &__title {
    color: $color-dark;
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 90px;
    span {
      color: #D6D6D6;
    }
  }
  &__list {
    display: flex;
    gap: 40px;
    justify-content: center;
    &__block {
      padding: 40px;
      text-align: center;
      background-color: $color-main;
      width: 600px;
      height: 300px;
      border-radius: 20px;
      perspective: 600px;
      &:last-child {
        background-color: $color-sec;
      }
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
      h3 {
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      p {
        font-size: 31px;
        font-weight: 300;
      }
    }
  }
}

.about {
  padding-top: 150px;
}