@import 'core/base';
@import 'publications';

.news {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    &__item {
      display: flex;
      gap: 60px;
      &__image {
        width: 450px;
        flex-shrink: 0;
        object-fit: cover;
        border-radius: 30px;
        height: 370px;
      }
      &__info {
        color: #000;
        .title {
          font-size: 32px;
        }
        .date {
          margin: 20px 0;
          font-size: 20px;
          padding: 5px 10px;
          text-align: center;
          border-radius: 5px;
          background: #000;
          color: #fff;
          font-weight: bold;
          display: inline-block;
        }
      }
    }
  }
}