@import 'core/base';

@import 'core/base';

.services {
  margin-bottom: 60px;
  &__blocks {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(300px, auto) auto;
    gap: 45px;
  }
  &__block {
    border: 1px solid #D2D2D2;
    border-radius: 15px;
    background-color: lighten(#D2D2D2, 15%);
    padding: 30px;
    color: #000;
    grid-column: span 4;
    transition: ease all .3s;
    &:first-child {
      background-color: #B0FFAE;
      grid-column: span 5;
    }
    &:nth-child(2) {
      background-color: #AEFFEC;
      grid-column: span 7;
    }
    &__title {
      font-size: clamp(16px, 2vw, 24px);
      margin-bottom: 25px;
      position: relative;
      padding-right: 55px;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        background: url(assets/img/arrow-enter.svg) no-repeat center / contain;
        width: 20px;
        height: 20px;
        transform: translate(-100%, -50%);
      }
    }
    &__desc {
      font-size: clamp(13px, 1.8vw, 18px);
    }
  }
}

@media(max-width: 1200px) {
  .services {
    &__blocks {
      gap: 15px;
    }
    &__block {
      grid-column: span 6!important;
    }
  }
}
@media (max-width: 650px) {
  .services {
    margin-bottom: 20px;
    &__block {
      grid-column: span 12!important;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .services {
    &__block {
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}