<section class="breadcrumbs">
  <ul>
    <li class="root"><a href="#">Главная</a></li>
    <li><a href="#">Бактерии <br> <small>1946 элементов</small></a></li>
    <li><a href="#">Acetobacter <br> <small>1946 элементов</small></a></li>
    <li><a href="#">Aceti <br> <small>1946 элементов</small></a></li>
    <li class="current"><span>B-10228</span></li>
  </ul>
</section>