<div class="catalog__sidebar">
    <div class="catalog__sidebar__title" id="catalog-sidebar-title"><h2>Поиск по каталогу</h2><span id="sidebar-toggler">Развернуть</span></div>
    <form action="javascript:void(0)" class="catalog__form" id="catalog-form">
      <div class="catalog__form__overlay">
        <label>Род <input class="inp" type="text"></label>
        <label>Вид <input class="inp" type="text"></label>
        <label>Номер ВКПМ <input class="inp" type="text"></label>
        <label>Поиск по производимому продукту <input class="inp" type="text"></label>
        <input type="submit" class="btn btn-submit" value="Поиск">
      </div>
    </form>
  </div>