<div class="catalog__search">
  <h1 class="catalog__search__header">Поиск по каталогу</h1>
  <div class="catalog__search__area">
    <label>Род: <br> <input type="text" name="kind" class="inp"></label>
    <label>Вид: <br> <input type="text" name="view" class="inp"></label>
    <label>Номер ВКПМ: <br> <input name="vkpm" type="text" class="inp"></label>
    <label>Поиск по производимому продукту и применению: <br> <input name="product" type="text" class="inp"></label>
    <button class="btn" type="submit">Поиск</button>
  </div>
</div>