<footer class="footer">
<div class="container">
  <div class="footer_wrapper">
    <div class="footer__info">
      <a href="#" class="logo">
        <img src="assets/img/logo.svg" alt="">
      </a>
      <nav class="footer__info__nav">
        <ul>
          <li><a href="#">Каталог</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Услуги центра</a></li>
          <li><a href="#">Документы</a></li>
          <li><a href="#">Публикации</a></li>
          <li><a href="#">Новости</a></li>
        </ul>
      </nav>
    </div>
    <hr color="#6A6A6A" style="margin: 50px 0;">
    <div class="footer__copyright">
      <p>© 2023 ФГБОУ ВО КубГАУ. Все права зарезервированы</p>
      <a href="https://webgromov.ru" target="_blank" class="sign">webgromov</a>
    </div>
  </div>
</div>
</footer>
</body>
</html>