<div class="loader" id="loader">
  <div class="loader__logo">
    <img src="assets/img/logo.svg" alt="">
  </div>
</div>
<div id="cursor" class="cursor"></div>
<section class="cap" id="cap">
    <nav id="cap__nav" class="cap__nav">
      <a href="index.html" class="logo">
        <img src="assets/img/logo.svg" alt="">
      </a>
        <ul>
          {{#each menu}}
            {{#with this}}<li><a href="{{link}}">{{title}}</a></li>{{/with}}
          {{/each}}
        </ul>
      <div class="cap__nav__search">
        <img class="search-icon" src="assets/img/search.svg" class="search__icon" alt="">
        <input class="inp" placeholder="Поиск по сайту" type="search">
      </div>
    </nav>
</section>